<!-- NAVBAR SUPERIOR -->
<nav class="navbar" id="navbar">
  <div class="left" style="display: flex; align-items: center">
    <img
      src="assets/logo.png"
      alt="Perfil"
      routerLink="/login"
      class="profile-img"
    />
    <div class="greeting">
      <div>Studio Money Barber</div>
      <small>{{ dataHoje }}</small>
    </div>
  </div>

  <div class="right home-navbar-right">
    <!-- Botão de Login -->
    <button class="login-button" routerLink="/login">Login</button>
  </div>
</nav>

<div class="carrossel-container">
  <div class="carrossel">
    <div class="imagem-wrapper" *ngIf="imagemAtual">
      <!-- BOTÃO PREV -->
      <button
        class="botao-navegacao esquerdo"
        *ngIf="imagens.length > 1"
        (click)="anteriorImagem()"
      >
        ‹
      </button>

      <!-- IMAGEM -->
      <img [src]="imagemAtual.url" alt="Imagem" class="carrossel-img" />

      <!-- BOTÃO NEXT -->
      <button
        class="botao-navegacao direito"
        *ngIf="imagens.length > 1"
        (click)="proximaImagem()"
      >
        ›
      </button>
    </div>
  </div>
</div>

<section class="barbeiros-section">
  <h2 class="titulo" id="barbeiros">Barbeiros</h2>
  <div class="barbeiros-wrapper">
    <div class="barbeiro-card" *ngFor="let b of barbeiros">
      <div class="imagem-container">
        <img [src]="b.imagemUrl" [alt]="b.nome" class="barbeiro-img" />
      </div>
      <div class="barbeiro-info">
        <h3>{{ b.nome }}</h3>
        <small>{{ b.instagram }}</small>
        <p class="contato-container">
          <strong>Contato:</strong>
          <a
            class="contato"
            [href]="formatarWhatsapp(b.telefone)"
            target="_blank"
          >
            {{ b.telefone }}
          </a>
        </p>
        <p>
          Você pode agendar com o &nbsp; {{ b.nome }} pelo WhatsApp ou
          <a routerLink="/login" class="btn-agendar">
            Agendar Online por aqui
          </a>
        </p>
      </div>
    </div>
  </div>
</section>

<div class="container-centralizado" style="padding-top: 6.25rem">
  <div class="layout-servicos" id="servico">
    <div class="imagem-servicos">
      <img src="assets/cortecanvas.png" alt="Imagem" />
    </div>
    <div class="tabela-wrapper">
      <div class="cabecalho-tabela">
        <h2>Tabela de Serviços</h2>
      </div>
      <small class="subtitulo">Serviços de qualidade e preços justos.</small>
      <table class="tabela-servicos">
        <tbody>
          <tr *ngFor="let servico of servicosPaginados">
            <td>{{ servico.nome }}</td>
            <td class="coluna-acoes">
              <span class="preco"
                >R$ {{ servico.preco | number : "1.2-2" }}</span
              >
            </td>
          </tr>
        </tbody>
      </table>
      <div class="rodape-tabela">
        <button class="botao-agendar" routerLink="/login">
          AGENDAR HORÁRIO
        </button>
        <div class="paginacao" *ngIf="totalPaginas > 1">
          <span
            class="pagina"
            [class.ativa]="paginaAtual === pagina"
            *ngFor="let pagina of paginas"
            (click)="irParaPagina(pagina)"
          >
            {{ pagina }}
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- LISTAGEM DE CARDS -->
  <div class="cards-wrapper">
    <div class="card" *ngFor="let c of cardsVisiveis">
      <img [src]="c.imagemPath" alt="Imagem" class="card-img" />
      <p class="card-descricao">{{ c.descricao }}</p>
    </div>
  </div>

  <div class="fidelidade-box" id="planos">
    <img src="assets/fidelidade.png" alt="Plano" class="fidelidade-img" />
    <div class="fidelidade-conteudo">
      <h3>Plano de Fidelidade Mensal</h3>
      <p>
        Assine nosso plano de fidelidade todo mês e aproveite benefícios
        exclusivos!
      </p>
      <div class="fidelidade-planos">
        <span
          class="planos tooltip"
          data-tooltip="Inclui 2 cortes por mês com agendamento prioritário"
          routerLink="/login"
        >
          Plano Padrão
        </span>
        <span style="margin: 0 3px" class="separador">|</span>
        <span
          class="planos tooltip"
          data-tooltip="Cortes ilimitados + barba e sobrancelha inclusos"
          routerLink="/login"
        >
          Plano Premium
        </span>
      </div>
      <button routerLink="/fidelidade" class="fidelidade-botao">
        ASSINAR PLANO
      </button>
    </div>
  </div>

  <div class="mapa-container">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3822.257878882561!2d-49.229727924858416!3d-16.663974044968104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935ef3059d42ca45%3A0x287fe03c189b0775!2sStudio%20Money%20Barber!5e0!3m2!1spt-BR!2sbr!4v1751644981020!5m2!1spt-BR!2sbr"
      allowfullscreen
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    >
    </iframe>
  </div>

  <!-- RODAPÉ -->
  <div class="rodape">
    <div class="rodape-conteudo">
      <!-- LOGO + TÍTULO + LINKS -->
      <div class="rodape-coluna logo-coluna">
        <div class="logo-wrapper">
          <img src="assets/logo.png" alt="Logo" class="rodape-logo" />
          <div class="logo-texto">
            <span class="logo-titulo">Studio Money Barber</span>
            <div class="rodape-links-internos">
              <a
                href="#"
                (click)="irParaSecao('navbar'); $event.preventDefault()"
                >Home</a
              >
              <a
                href="#"
                (click)="irParaSecao('barbeiros'); $event.preventDefault()"
                >Barbeiros</a
              >
              <a
                href="#"
                (click)="irParaSecao('servico'); $event.preventDefault()"
                >Serviços</a
              >
              <a
                href="#"
                (click)="irParaSecao('planos'); $event.preventDefault()"
                >Planos</a
              >
            </div>
          </div>
        </div>
      </div>

      <!-- CONTATO -->
      <div class="rodape-coluna">
        <h4>Contato</h4>
        <p>
          <img
            src="assets/whatsapp.png"
            alt="WhatsApp do Felipe"
            class="rede-social"
          />
          (62) 99936-1327 / (62) 99114-5896
        </p>
        <p>
          <img src="assets/gmail.png" alt="Email" class="rede-social" />
          studiomoneybarber&#64;gmail.com
        </p>
      </div>

      <!-- REDES SOCIAIS -->
      <div class="rodape-coluna">
        <h4>Redes Sociais</h4>
        <p>
          <img
            src="assets/instagram.png"
            alt="Instagram"
            class="rede-social"
            width="20px"
          />
          <a
            href="https://www.instagram.com/studio_money_barber/"
            target="_blank"
          >
            Instagram</a
          >
        </p>
        <p>
          <img
            src="assets/facebook.png"
            alt="Facebook"
            class="rede-social"
            width="20px"
          />
          <a href="https://facebook.com" target="_blank"> Facebook</a>
        </p>
      </div>
    </div>

    <div class="rodape-direitos">
      Copyright © 2025 Studio Money Barber. Todos os direitos reservados
    </div>
  </div>

  <!-- BARRA INFERIOR MOBILE -->
  <div class="bottom-nav">
    <a routerLink="/dashboard" class="nav-item">
      <img
        src="assets/home-ativa.png"
        alt="Início"
        width="38px"
        height="32px"
      />
      <span style="color: #f46d25; font-weight: bold">Início</span>
    </a>
    <a routerLink="/galeria" class="nav-item">
      <img src="assets/galeria.png" alt="Galeria" width="34px" height="33px" />
      <span>Galeria</span>
    </a>
    <a routerLink="/agendamento" class="nav-item">
      <img
        src="assets/agendamento.png"
        alt="Agendamentos"
        width="34px"
        height="34px"
      />
      <span>Agendamentos</span>
    </a>
    <a routerLink="/produtos" class="nav-item">
      <img src="assets/produto.png" alt="Produtos" width="30px" height="30px" />
      <span>Produtos</span>
    </a>
  </div>
</div>
